body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#domainInput {
    width: 300px;
    padding: 10px;
    margin-top: 20px;
}

#checkButton {
    padding: 10px 20px;
    margin-left: 10px;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    display: none; /* 初始时隐藏 */
    max-height: 300px; /* 设置最大高度 */
    overflow: auto; /* 超过最大高度时滚动 */
    text-align: left;
}

